sceletonMain/news.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="rss" type="rssType"/>
  <xs:complexType name="imageType">
    <xs:sequence>
      <xs:element type="xs:anyURI" name="url"/>
      <xs:element type="xs:anyURI" name="title"/>
      <xs:element type="xs:anyURI" name="link"/>
      <xs:element type="xs:byte" name="width"/>
      <xs:element type="xs:byte" name="height"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guidType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="isPermaLink" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="itemType">
    <xs:sequence>
      <xs:element type="xs:string" name="title"/>
      <xs:element type="xs:string" name="description"/>
      <xs:element type="xs:anyURI" name="link"/>
      <xs:element type="xs:string" name="pubDate"/>
      <xs:element type="guidType" name="guid"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="channelType">
    <xs:sequence>
      <xs:element type="xs:anyURI" name="title"/>
      <xs:element type="xs:string" name="description"/>
      <xs:element type="xs:anyURI" name="link"/>
      <xs:element type="xs:byte" name="ttl"/>
      <xs:element type="xs:string" name="language"/>
      <xs:element type="xs:string" name="generator"/>
      <xs:element type="xs:string" name="copyright"/>
      <xs:element type="xs:string" name="lastBuildDate"/>
      <xs:element type="imageType" name="image"/>
      <xs:element type="itemType" name="item" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rssType">
    <xs:sequence>
      <xs:element type="channelType" name="channel"/>
    </xs:sequence>
    <xs:attribute type="xs:float" name="version"/>
  </xs:complexType>
</xs:schema>