sceletonMain/rpm.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:admin="http://webns.net/mvcb/" xmlns:atom="http://purl.org/atom/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:sy="http://purl.org/rss/1.0/modules/syndication/" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="rss">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="channel">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="title" type="xs:string" />
              <xs:element name="description" type="xs:string" />
              <xs:element name="link" type="xs:string" />
              <xs:element name="ttl" type="xs:unsignedByte" />
              <xs:element name="language" type="xs:string" />
              <xs:element name="generator" type="xs:string" />
              <xs:element name="copyright" type="xs:string" />
              <xs:element name="lastBuildDate" type="xs:string" />
              <xs:element name="image">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="url" type="xs:string" />
                    <xs:element name="title" type="xs:string" />
                    <xs:element name="link" type="xs:string" />
                    <xs:element name="width" type="xs:unsignedByte" />
                    <xs:element name="height" type="xs:unsignedByte" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="item">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="title" type="xs:string" />
                    <xs:element name="description" type="xs:string" />
                    <xs:element name="link" type="xs:string" />
                    <xs:element name="pubDate" type="xs:string" />
                    <xs:element name="guid">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="isPermaLink" type="xs:boolean" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:decimal" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>